<p style="white-space: normal;text-align: center;">
  <span style="max-width: 100%;color: rgb(127, 127, 127);font-size: 12px;letter-spacing: 0px;line-height: 18px;box-sizing: border-box !important;word-wrap: break-word !important;">过来，</span><span style="max-width: 100%;color: rgb(127, 127, 127);font-size: 12px;letter-spacing: 0px;line-height: 19.2px;box-sizing: border-box !important;word-wrap: break-word !important;">告诉你一个秘密</span>
</p>
<p style="padding-top: 5px;padding-bottom: 5px;white-space: normal;max-width: 558px;min-height: 14px;line-height: 25.6px;text-align: center;box-sizing: border-box !important;word-wrap: break-word !important;">
  <span style="max-width: 100%;color: rgb(127, 127, 127);font-size: 12px;box-sizing: border-box !important;word-wrap: break-word !important;">不和云说，不和星说</span>
</p>
<p style="padding-top: 5px;padding-bottom: 5px;white-space: normal;max-width: 558px;min-height: 14px;line-height: 25.6px;text-align: center;box-sizing: border-box !important;word-wrap: break-word !important;">
  <span style="max-width: 100%;color: rgb(127, 127, 127);font-size: 12px;box-sizing: border-box !important;word-wrap: break-word !important;">只和你说</span>
</p>
<p style="padding-top: 5px;padding-bottom: 5px;white-space: normal;max-width: 558px;min-height: 14px;line-height: 25.6px;text-align: center;box-sizing: border-box !important;word-wrap: break-word !important;">
  tip:
</p>
<p style="padding-top: 5px;padding-bottom: 5px;white-space: normal;max-width: 558px;min-height: 14px;line-height: 25.6px;text-align: center;box-sizing: border-box !important;word-wrap: break-word !important;">
  小主人可以点击下面的【阅读原文】向灯灯倾诉你的故事喔~
</p>
<p style="padding-top: 5px;padding-bottom: 5px;white-space: normal;max-width: 558px;min-height: 14px;line-height: 25.6px;box-sizing: border-box !important;word-wrap: break-word !important;">
  <span style="max-width: 100%;color: rgb(127, 127, 127);font-size: 12px;box-sizing: border-box !important;word-wrap: break-word !important;"></span>
</p>
<p style="white-space: normal;">
  <br/>
</p>
<p style="white-space: normal;">
  <br/>
</p>
<section data-role="paragraph" style="white-space: normal;max-width: 100%;line-height: 25.6px;text-align: center;box-sizing: border-box !important;word-wrap: break-word !important;">
  <section data-role="paragraph" style="max-width: 558px;box-sizing: border-box !important;word-wrap: break-word !important;">
      <section style="margin-right: 15px;max-width: 558px;display: inline-block;box-sizing: border-box !important;word-wrap: break-word !important;">
          <section data-bgless="lighten" data-bglessp="20" style="margin-right: 4px;max-width: 20px;display: inline-block;border-radius: 50%;color: rgb(0, 124, 185);height: 6px;width: 6px;background-color: rgb(187, 231, 253);box-sizing: border-box !important;word-wrap: break-word !important;"></section>
          <section style="max-width: 20px;display: inline-block;border-radius: 50%;color: rgb(255, 255, 255);height: 10px;width: 10px;background-color: rgb(89, 195, 249);box-sizing: border-box !important;word-wrap: break-word !important;"></section>
      </section>
      <section style="padding-right: 5px;padding-left: 5px;max-width: 558px;display: inline-block;box-sizing: border-box !important;word-wrap: break-word !important;">
          <strong style="max-width: 100%;box-sizing: border-box !important;word-wrap: break-word !important;"><span data-brushtype="text" style="max-width: 100%;font-size: 18px;box-sizing: border-box !important;word-wrap: break-word !important;">悄悄话</span></strong>
      </section>
      <section style="max-width: 558px;display: inline-block;box-sizing: border-box !important;word-wrap: break-word !important;">
          <section style="margin-right: 4px;margin-left: 15px;max-width: 35px;display: inline-block;border-radius: 50%;color: rgb(255, 255, 255);height: 10px;width: 10px;background-color: rgb(89, 195, 249);box-sizing: border-box !important;word-wrap: break-word !important;"></section>
          <section data-bgless="lighten" data-bglessp="20" style="max-width: 35px;display: inline-block;border-radius: 50%;color: rgb(0, 124, 185);height: 6px;width: 6px;background-color: rgb(187, 231, 253);box-sizing: border-box !important;word-wrap: break-word !important;"></section>
      </section>
  </section>
  <section data-role="paragraph" style="max-width: 558px;box-sizing: border-box !important;word-wrap: break-word !important;">
      <section data-role="paragraph" style="max-width: 558px;line-height: 25.6px;box-sizing: border-box !important;word-wrap: break-word !important;">
          <section class="" powered-by="xmyeditor.com" data-id="90607" style="max-width: 100%;line-height: 25.6px;border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box !important;word-wrap: break-word !important;">
              <p style="margin-right: 8px;margin-left: 8px;padding: 10px;max-width: 100%;min-height: 1em;box-sizing: border-box !important;word-wrap: break-word !important;">
                  <span style="max-width: 100%;color: rgb(255, 79, 121);font-size: 14px;box-sizing: border-box !important;word-wrap: break-word !important;"><strong style="max-width: 100%;box-sizing: border-box !important;word-wrap: break-word !important;">你的心事，我来倾听</strong></span>
              </p>
          </section>
      </section>
      <% talkers.forEach(function(talker){ %>
      <section class="" powered-by="xmyeditor.com" data-id="90607" style="max-width: 100%;line-height: 25.6px;border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box !important;word-wrap: break-word !important;">
          <section data-width="100%" style="max-width: 100%;display: -webkit-flex;width: 536px;box-sizing: border-box !important;word-wrap: break-word !important;">
              <section style="max-width: 100%;width: 20px;background-image: url(&quot;https://mmbiz.qpic.cn/mmbiz_png/JawzsTSIAf6IcJj5xVu078y76eKiaWosNyvd8BwiaBMicYTBUaKOtOfhtulCJWMxlOdE3LIrgYpIOumnlrU2UYtSA/640?wx_fmt=png&quot;);background-size: 100%;background-position: 100% 100%;background-repeat: no-repeat;box-sizing: border-box !important;word-wrap: break-word !important;"></section>
              <section style="padding-right: 20px;padding-left: 20px;max-width: 100%;box-shadow: rgb(204, 204, 204) -2px 5px 5px;text-align: left;background-color: rgb(227, 241, 243);box-sizing: border-box !important;word-wrap: break-word !important;">
                  <section data-width="100%" style="max-width: 100%;width: 494.525px;box-sizing: border-box !important;word-wrap: break-word !important;">
                      <section style="max-width: 100%;width: 60px;box-sizing: border-box !important;word-wrap: break-word !important;">
                          <section data-width="100%" style="padding-right: 5px;padding-left: 5px;max-width: 100%;width: 60px;background-color: rgb(109, 109, 109);box-sizing: border-box !important;word-wrap: break-word !important;">
                              <section data-width="100%" style="max-width: 100%;width: 50px;line-height: 30px;font-size: 18px;color: rgb(255, 255, 255);border-bottom: 1px solid rgb(255, 255, 255);box-sizing: border-box !important;word-wrap: break-word !important;">
                                  <strong style="max-width: 100%;box-sizing: border-box !important;word-wrap: break-word !important;"> 悄<%= talker.letter %></strong>
                              </section>
                          </section>
                          <section data-width="100%" style="max-width: 100%;width: 60px;box-sizing: border-box !important;word-wrap: break-word !important;">
                              <section style="max-width: 100%;width: 0px;height: 0px;border-top: 30px solid rgb(109, 109, 109);border-left: 30px solid transparent;border-right: 30px solid transparent;box-sizing: border-box !important;word-wrap: break-word !important;">
                                  <br style="max-width: 100%;box-sizing: border-box !important;word-wrap: break-word !important;"/>
                              </section>
                          </section>
                      </section>
                  </section>
                  <p style="max-width: 100%;min-height: 1em;margin-left: 8px;margin-right: 8px;box-sizing: border-box !important;word-wrap: break-word !important;">
                      <span style="font-size: 14px;color: rgb(88, 88, 88);"><%= talker.content %></span>
                  </p>
                  <p style="margin-right: 8px;margin-left: 8px;max-width: 100%;min-height: 1em;box-sizing: border-box !important;word-wrap: break-word !important;text-align: right;">
                      <img class="" ratio="1.0769230769230769" data-type="png" width="auto" src="https://mmbiz.qpic.cn/mmbiz_png/JawzsTSIAf6IcJj5xVu078y76eKiaWosNv2uVEiaZR8kpt61z0mrGTicApu9HicbJycKzicjH7RQXgU5ibdHPX7aLKhw/640?wx_fmt=png" style="text-align: right;box-sizing: border-box !important;word-wrap: break-word !important;visibility: visible !important;width: 39px !important;"/><br/>
                  </p>
              </section>
          </section>
          <p style="max-width: 100%;min-height: 1em;box-sizing: border-box !important;word-wrap: break-word !important;">
              <br style="max-width: 100%;box-sizing: border-box !important;word-wrap: break-word !important;"/>
          </p>
      </section>
      <% }) %>

      <p style="margin-right: 8px;margin-left: 8px;max-width: 100%;min-height: 1em;box-sizing: border-box !important;word-wrap: break-word !important;">
          <span style="max-width: 100%;color: rgb(136, 136, 136);font-size: 12px;box-sizing: border-box !important;word-wrap: break-word !important;"><img class="" ratio="0.040690505548705305" data-type="png" width="200" title="分割线" src="https://mmbiz.qpic.cn/mmbiz_png/JawzsTSIAf62nmjlb04u7oyHOa4T1VXLLFKn6aNevPl2OUK1oiaBhGTpWrj3UyghTuJoJIB5ibbfPMx8Ot6jZ3qg/640?wx_fmt=png" style="max-width: 558px;display: inline;box-sizing: border-box !important;word-wrap: break-word !important;visibility: visible !important;width: 200px !important;"/></span>
      </p>
      <p style="margin-right: 32px;margin-left: 32px;max-width: 558px;min-height: 16px;box-sizing: border-box !important;word-wrap: break-word !important;">
          <strong style="max-width: 100%;color: rgb(61, 61, 61);font-size: 14px;box-sizing: border-box !important;word-wrap: break-word !important;"><span data-txtlessp="120" data-txtless="spin" style="max-width: 100%;color: rgb(228, 157, 172);box-sizing: border-box !important;word-wrap: break-word !important;">◆ </span> <span style="max-width: 100%;color: rgb(250, 211, 172);box-sizing: border-box !important;word-wrap: break-word !important;">◆ </span> <span data-txtlessp="-120" data-txtless="spin" style="max-width: 100%;color: rgb(255, 233, 234);box-sizing: border-box !important;word-wrap: break-word !important;">◆ &nbsp;<span data-txtlessp="120" data-txtless="spin" style="max-width: 100%;color: rgb(121, 134, 175);box-sizing: border-box !important;word-wrap: break-word !important;">◆ </span> <span style="max-width: 100%;color: rgb(17, 163, 215);box-sizing: border-box !important;word-wrap: break-word !important;">◆</span></span></strong>
      </p>
  </section>
</section>
<p style="white-space: normal;">
  <br/>
</p>
<p style="white-space: normal;max-width: 100%;min-height: 1em;line-height: 25.6px;box-sizing: border-box !important;word-wrap: break-word !important;">
  <br style="max-width: 100%;box-sizing: border-box !important;word-wrap: break-word !important;"/>
</p>
<p style="white-space: normal;max-width: 100%;min-height: 1em;line-height: 25.6px;box-sizing: border-box !important;word-wrap: break-word !important;">
  <img class="__bg_gif" ratio="1" data-type="gif" width="30" src="https://mmbiz.qpic.cn/mmbiz_gif/JawzsTSIAf62nmjlb04u7oyHOa4T1VXLfq6b4Xic9vWmCicapBZy3mNJ3RMSVnrJgygicLWIcK9OYVEOrRoxpic65A/640?wx_fmt=gif" style="max-width: 558px;display: inline-block;line-height: 25.6px;vertical-align: middle;box-sizing: border-box !important;word-wrap: break-word !important;visibility: visible !important;width: 30px !important;"/><span style="max-width: 100%;font-size: 12px;line-height: 19.2px;box-sizing: border-box !important;word-wrap: break-word !important;">戳原文，</span><strong style="max-width: 100%;font-size: 12px;line-height: 19.2px;box-sizing: border-box !important;word-wrap: break-word !important;">分享你的故事或烦恼吧~</strong>
</p>