<section data-tools="小蚂蚁编辑器" powered-by="xmyeditor.com" style="font-size: 16px;font-family: 微软雅黑;">
  <section data-role="outer" label="Powered by 135editor.com">
      <section class="xmyeditor.com" data-id="85975" style="line-height: 28.4444px;white-space: normal;border: 0px none;box-sizing: border-box;">
          <p style="text-align: center;line-height: 1.75em;">
              <img class="lazy" ratio="0.23333333333333334" src="https://mmbiz.qpic.cn/mmbiz_png/UP5lSOgJhe3SFVy6rBia6ibIibicyQ2e0svMicwNwiaTIGa9vR7yDWoqyUOZJL8C7bKIdmALBUC3FPglGmras1b7aiasQ/640?wx_fmt=png" data-type="png" width="300" style="line-height: inherit;width: auto;display: inline;"/><br/>
          </p>
          <section style="margin: -0.75em auto 10px;padding: 20px 15px;line-height: 25px;border: 2px solid rgb(222, 220, 222);box-sizing: border-box;">
              <section powered-by="xmyeditor.com" data-style="font-size: 14px; line-height: 1.75em;text-align:center;" style="box-sizing: border-box;">
                  <p style="font-size: 14px;text-align: center;line-height: 1.75em;">
                      <span style="text-shadow: #FFFFFF 2px 2px 10px;">共享生活 联系你我</span>
                  </p>
              </section>
          </section>
      </section>
      <p style="line-height: 28.4444px;white-space: normal;">
          <br/>
      </p>
      <section class="xmyeditor.com" data-id="85638" data-color="rgb(67, 187, 239)" data-custom="rgb(67, 187, 239)" powered-by="xmyeditor.com" style="white-space: normal;line-height: 28.4444px;border: 0px none;box-sizing: border-box;">
          <section powered-by="xmyeditor.com" style="margin-top: 2em;margin-right: auto;margin-left: auto;padding-top: 0.5em;padding-bottom: 0.5em;border-style: solid none none;color: rgb(166, 166, 166);font-size: 1em;font-weight: inherit;text-decoration: inherit;border-top-color: rgb(204, 204, 204);border-top-width: 1px;box-sizing: border-box;">
              <section style="margin-top: -1.2em;border: medium;text-align: center;line-height: 1.4;box-sizing: border-box;">
                  <span style="font-size: 20px;"><strong><span powered-by="xmyeditor.com" data-brushtype="text" style="padding: 8px 23px;border-color: #43BBEF;color: #FFFFFF;font-weight: inherit;text-decoration: inherit;background-color: #43BBEF;">灯神说</span></strong></span>
              </section>
          </section>
      </section>
      <p style="text-align: center;">
          <span style="font-size: 14px;"><br/></span>
      </p>
      <p style="text-align: center;">
          <span style="font-size: 14px;"><%= title %></span>
      </p>
      <p style="text-align: center;">
          <span style="font-size: 14px;"><br/></span>
      </p>
      <p style="text-align: center;">
          <img class="" data-copyright="0" ratio="0.6666666666666666" data-s="300,640" src="<%= imgUrl %>" data-type="jpeg" width="852" style="width: 453px;height: 302px;"/>
      </p>
      <p></p>
      <section style="position: relative;">
          <%- musicPart %>
      </section>
      <p></p>
      <p style="text-align: center;">
          <span style="font-size: 14px;"></span><br/>
      </p>
      <section class="xmyeditor.com" data-id="85638" powered-by="xmyeditor.com" data-custom="rgb(67, 187, 239)" data-color="rgb(67, 187, 239)" style="line-height: 28.4444px;white-space: normal;border: 0px none;box-sizing: border-box;">
          <section powered-by="xmyeditor.com" style="margin-top: 2em;margin-right: auto;margin-left: auto;padding-top: 0.5em;padding-bottom: 0.5em;border-style: solid none none;border-top-width: 1px;border-top-color: #cccccc;font-size: 1em;font-weight: inherit;text-decoration: inherit;color: #a6a6a6;box-sizing: border-box;">
              <section style="margin-top: -1.2em;text-align: center;border: none;line-height: 1.4;box-sizing: border-box;">
                  <span powered-by="xmyeditor.com" data-brushtype="text" style="padding: 8px 23px;border-color: #43bbef;color: #ffffff;font-weight: inherit;text-decoration: inherit;font-size: 20px;background-color: #43bbef;"><strong>心愿清单</strong></span>
              </section>
          </section>
      </section>
      <section class="xmyeditor.com" data-id="87655" powered-by="xmyeditor.com" style="line-height: 28.4444px;white-space: normal;border: 0px none;box-sizing: border-box;">
          <section style="margin-top: 10px;margin-bottom: 10px;text-align: center;box-sizing: border-box;">
              <section style="display: inline-block;box-sizing: border-box;">
                  <section style="margin: 0.2em 0.5em -1.8em;padding: 8px;box-sizing: border-box;">
                      <section style="box-sizing: border-box;">
                          <span style="font-size: 14px;color: #A5A5A5;"></span>
                      </section>
                  </section>
              </section>
          </section>
      </section>
      <section class="xmyeditor.com" data-id="5" powered-by="xmyeditor.com" style="line-height: 28.4444px;white-space: normal;border: 0px none;box-sizing: border-box;">
          <section class="135brush layout" style="margin: 2px auto;padding: 10px;font-size: 14px;line-height: 25px;border: 2px dashed rgb(222, 220, 222);box-sizing: border-box;">
              <p style="text-align: center;">
                  <strong><span style="color: #7F7F7F;">回复心愿序号，即可获得联系方式~</span></strong>
              </p>
          </section>
      </section>
      <section class="xmyeditor.com" data-id="87408" powered-by="xmyeditor.com" style="line-height: 28.4444px;white-space: normal;border: 0px none;box-sizing: border-box;"></section>
      <p style="line-height: 28.4444px;white-space: normal;">
          <br/>
      </p>
      <p style="line-height: 28.4444px;white-space: normal;">
          <br/>
      </p>
      <section class="xmyeditor.com" data-id="87408" powered-by="xmyeditor.com" style="line-height: 28.4444px;white-space: normal;border: 0px none;box-sizing: border-box;"></section>
      <% if (lovers.length) { %>
      <section class="xmyeditor.com" data-id="86133" powered-by="xmyeditor.com" data-custom="rgb(235, 103, 148)" data-color="rgb(235, 103, 148)" style="line-height: 28.4444px;white-space: normal;border: 0px none;box-sizing: border-box;">
          <section style="text-align: center;box-sizing: border-box;">
              <section style="margin-right: 15px;text-align: left;display: inline-block;box-sizing: border-box;">
                  <section data-bglessp="20" data-bgless="lighten" style="margin-right: 4px;width: 6px;height: 6px;border-radius: 50%;display: inline-block;color: rgb(182, 3, 63);box-sizing: border-box;background-color: rgb(247, 193, 211);"></section>
                  <section style="width: 10px;height: 10px;border-radius: 50%;display: inline-block;color: rgb(255, 255, 255);box-sizing: border-box;background-color: rgb(235, 103, 148);"></section>
              </section>
              <section style="padding-right: 5px;padding-left: 5px;display: inline-block;box-sizing: border-box;">
                  <span style="font-size: 20px;color: #EB6794;"><strong>脱单</strong></span>
              </section>
              <section style="display: inline-block;text-align: left;box-sizing: border-box;">
                  <section style="margin-right: 4px;margin-left: 15px;width: 10px;height: 10px;border-radius: 50%;display: inline-block;color: rgb(255, 255, 255);box-sizing: border-box;background-color: rgb(235, 103, 148);"></section>
                  <section data-bglessp="20" data-bgless="lighten" style="width: 6px;height: 6px;border-radius: 50%;display: inline-block;color: rgb(182, 3, 63);box-sizing: border-box;background-color: rgb(247, 193, 211);"></section>
              </section>
          </section>
      </section>
      <% } %>
      <% lovers.forEach(function(lover){ %>
        <section class="xmyeditor.com" data-id="85952" data-custom="rgb(235, 103, 148)" data-color="rgb(235, 103, 148)" style="line-height: 28.4444px;white-space: normal;border: 0px none;box-sizing: border-box;">
            <section style="margin: 20px 10px 10px;padding: 5px;box-shadow: rgb(198, 198, 199) 5px 5px 3px;box-sizing: border-box;background-color: rgb(250, 250, 250);">
                <section style="margin-top: -15px;margin-left: 20px;width: auto;box-sizing: border-box;">
                    <section style="padding: 4px 10px;border-radius: 0.2em 1.1em;box-shadow: rgb(165, 165, 165) 4px 4px 2px;color: rgb(255, 255, 255);display: inline-block;box-sizing: border-box;background-color: rgb(235, 103, 148);">
                        <span style="font-size: 14px;"><strong title="" data-original-title=""><%= date + lover.id %></strong></span>
                    </section>
                    <section powered-by="xmyeditor.com" style="padding: 5px 10px;box-sizing: border-box;">
                        <p>
                            <span style="font-size: 14px;"><%= lover.content %><span style="color: #EB6794;">（<%= lover.grade + lover.gender %>）</span></span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p>
                            <strong><span style="font-size: 14px;">回复【<%= date + lover.id + lover.gender %>】四个字可查看照片哦~</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
      <% }) %>
      <p style="line-height: 28.4444px;white-space: normal;">
          <br/>
      </p>
      <p style="line-height: 28.4444px;white-space: normal;">
          <br/>
      </p>
      <section class="xmyeditor.com" data-id="87408" powered-by="xmyeditor.com" style="line-height: 28.4444px;white-space: normal;border: 0px none;box-sizing: border-box;"></section>
      <% if (lookers.length) { %>
      <section class="xmyeditor.com" data-id="86133" powered-by="xmyeditor.com" data-custom="rgb(252, 180, 43)" data-color="rgb(252, 180, 43)" style="line-height: 28.4444px;white-space: normal;border: 0px none;box-sizing: border-box;">
          <section style="text-align: center;box-sizing: border-box;">
              <section style="margin-right: 15px;text-align: left;display: inline-block;box-sizing: border-box;">
                  <section data-bglessp="20" data-bgless="lighten" style="margin-right: 4px;width: 6px;height: 6px;border-radius: 50%;display: inline-block;color: rgb(255, 255, 255);box-sizing: border-box;background-color: rgb(253, 216, 144);"></section>
                  <section style="width: 10px;height: 10px;border-radius: 50%;display: inline-block;color: rgb(255, 255, 255);box-sizing: border-box;background-color: rgb(252, 180, 43);"></section>
              </section>
              <section style="padding-right: 5px;padding-left: 5px;display: inline-block;box-sizing: border-box;">
                  <span style="font-size: 20px;color: #FCB42B;"><strong>找Ta</strong></span>
              </section>
              <section style="display: inline-block;text-align: left;box-sizing: border-box;">
                  <section style="margin-right: 4px;margin-left: 15px;width: 10px;height: 10px;border-radius: 50%;display: inline-block;color: rgb(255, 255, 255);box-sizing: border-box;background-color: rgb(252, 180, 43);"></section>
                  <section data-bglessp="20" data-bgless="lighten" style="width: 6px;height: 6px;border-radius: 50%;display: inline-block;color: rgb(255, 255, 255);box-sizing: border-box;background-color: rgb(253, 216, 144);"></section>
              </section>
          </section>
      </section>
      <% } %>
      <% lookers.forEach(function(looker){ %>
      <section class="xmyeditor.com" data-id="85952" data-custom="rgb(252, 180, 43)" data-color="rgb(252, 180, 43)" style="line-height: 28.4444px;white-space: normal;border: 0px none;box-sizing: border-box;">
          <section style="margin: 20px 10px 10px;padding: 5px;box-shadow: rgb(198, 198, 199) 5px 5px 3px;box-sizing: border-box;background-color: rgb(250, 250, 250);">
              <section style="margin-top: -15px;margin-left: 20px;width: auto;box-sizing: border-box;">
                  <section style="padding: 4px 10px;border-radius: 0.2em 1.1em;box-shadow: rgb(165, 165, 165) 4px 4px 2px;color: rgb(255, 255, 255);display: inline-block;box-sizing: border-box;background-color: rgb(252, 180, 43);">
                      <span style="font-size: 14px;"><strong title="" data-original-title=""><%= date + looker.id %></strong></span>
                  </section>
                  <section powered-by="xmyeditor.com" style="padding: 5px 10px;box-sizing: border-box;">
                      <p>
                          <span style="font-size: 14px;"><%= looker.content %><span style="color: rgb(252, 180, 43);">（<%= looker.grade + looker.gender %>）</span></span>
                      </p>
                      <p>
                          <br/>
                      </p>
                      <p>
                          <strong><span style="font-size: 14px;">报答：<%= looker.reward %></span></strong>
                      </p>
                  </section>
              </section>
          </section>
      </section>
      <% }) %>
      <p style="line-height: 28.4444px;white-space: normal;">
          <br/>
      </p>
      <p style="line-height: 28.4444px;white-space: normal;">
          <br/>
      </p>
      <section class="xmyeditor.com" data-id="87408" powered-by="xmyeditor.com" style="line-height: 28.4444px;white-space: normal;border: 0px none;box-sizing: border-box;"></section>
      <% if (teamers.length) { %>
      <section class="xmyeditor.com" data-id="86133" powered-by="xmyeditor.com" data-custom="rgb(128, 177, 53)" data-color="rgb(128, 177, 53)" style="border: 0px none;box-sizing: border-box;">
          <section style="text-align: center;box-sizing: border-box;">
              <section style="margin-right: 15px;text-align: left;display: inline-block;box-sizing: border-box;">
                  <section data-bglessp="20" data-bgless="lighten" style="margin-right: 4px;width: 6px;height: 6px;border-radius: 50%;display: inline-block;color: rgb(255, 255, 255);box-sizing: border-box;background-color: rgb(176, 214, 118);"></section>
                  <section style="width: 10px;height: 10px;border-radius: 50%;display: inline-block;color: rgb(255, 255, 255);box-sizing: border-box;background-color: rgb(128, 177, 53);"></section>
              </section>
              <section style="padding-right: 5px;padding-left: 5px;display: inline-block;box-sizing: border-box;">
                  <span style="font-size: 20px;color: #80B135;"><strong>求组队</strong></span>
              </section>
              <section style="display: inline-block;text-align: left;box-sizing: border-box;">
                  <section style="margin-right: 4px;margin-left: 15px;width: 10px;height: 10px;border-radius: 50%;display: inline-block;color: rgb(255, 255, 255);box-sizing: border-box;background-color: rgb(128, 177, 53);"></section>
                  <section data-bglessp="20" data-bgless="lighten" style="width: 6px;height: 6px;border-radius: 50%;display: inline-block;color: rgb(255, 255, 255);box-sizing: border-box;background-color: rgb(176, 214, 118);"></section>
              </section>
          </section>
      </section>
      <% } %>
      <% teamers.forEach(function(teamer){ %>
      <section class="xmyeditor.com" data-id="85952" data-custom="rgb(128, 177, 53)" data-color="rgb(128, 177, 53)" style="border: 0px none;box-sizing: border-box;">
          <section style="margin: 20px 10px 10px;padding: 5px;box-shadow: rgb(198, 198, 199) 5px 5px 3px;box-sizing: border-box;background-color: rgb(250, 250, 250);">
              <section style="margin-top: -15px;margin-left: 20px;width: auto;box-sizing: border-box;">
                  <section style="padding: 4px 10px;border-radius: 0.2em 1.1em;box-shadow: rgb(165, 165, 165) 4px 4px 2px;color: rgb(255, 255, 255);display: inline-block;box-sizing: border-box;background-color: rgb(128, 177, 53);">
                      <strong title="" data-original-title=""><%= date + teamer.id %></strong>
                  </section>
                  <section powered-by="xmyeditor.com" style="padding: 5px 10px;box-sizing: border-box;">
                      <p style="white-space: normal;">
                          <span style="font-size: 14px;"><%= teamer.content %><span style="color: rgb(128, 177, 53);">(<%= teamer.grade + teamer.gender %>)</span></span>
                      </p>
                      <p style="white-space: normal;">
                          <br/>
                      </p>
                      <p style="white-space: normal;">
                          <span style="font-size: 14px;color: #80B135;font-size: 14px;color: #0C0C0C;"><strong>报答：<%= teamer.reward %></strong></span>
                      </p>
                  </section>
              </section>
          </section>
      </section>
      <% }) %>
      <p style="line-height: 28.4444px;white-space: normal;">
          <br/>
      </p>
      <p style="line-height: 28.4444px;white-space: normal;">
          <br/>
      </p>
      <section class="xmyeditor.com" data-id="87408" powered-by="xmyeditor.com" style="line-height: 28.4444px;white-space: normal;border: 0px none;box-sizing: border-box;"></section>
      <% if (thingers.length) { %>
      <section class="xmyeditor.com" data-id="86133" powered-by="xmyeditor.com" data-custom="rgb(67, 187, 239)" data-color="rgb(67, 187, 239)" style="border: 0px none;box-sizing: border-box;">
          <section style="text-align: center;box-sizing: border-box;">
              <section style="margin-right: 15px;text-align: left;display: inline-block;box-sizing: border-box;">
                  <section data-bglessp="20" data-bgless="lighten" style="margin-right: 4px;width: 6px;height: 6px;border-radius: 50%;display: inline-block;color: rgb(0, 107, 153);box-sizing: border-box;background-color: rgb(161, 221, 247);"></section>
                  <section style="width: 10px;height: 10px;border-radius: 50%;display: inline-block;color: rgb(255, 255, 255);box-sizing: border-box;background-color: rgb(67, 187, 239);"></section>
              </section>
              <section style="padding-right: 5px;padding-left: 5px;display: inline-block;box-sizing: border-box;">
                  <span style="font-size: 20px;color: #43BBEF;"><strong>求闲物</strong></span>
              </section>
              <section style="display: inline-block;text-align: left;box-sizing: border-box;">
                  <section style="margin-right: 4px;margin-left: 15px;width: 10px;height: 10px;border-radius: 50%;display: inline-block;color: rgb(255, 255, 255);box-sizing: border-box;background-color: rgb(67, 187, 239);"></section>
                  <section data-bglessp="20" data-bgless="lighten" style="width: 6px;height: 6px;border-radius: 50%;display: inline-block;color: rgb(0, 107, 153);box-sizing: border-box;background-color: rgb(161, 221, 247);"></section>
              </section>
          </section>
      </section>
      <% } %>
      <% thingers.forEach(function(thinger){ %>
      <section class="xmyeditor.com" data-id="85952" data-custom="rgb(67, 187, 239)" data-color="rgb(67, 187, 239)" style="border: 0px none;box-sizing: border-box;">
          <section style="margin: 20px 10px 10px;padding: 5px;box-shadow: rgb(198, 198, 199) 5px 5px 3px;box-sizing: border-box;background-color: rgb(250, 250, 250);">
              <section style="margin-top: -15px;margin-left: 20px;width: auto;box-sizing: border-box;">
                  <section style="padding: 4px 10px;border-radius: 0.2em 1.1em;box-shadow: rgb(165, 165, 165) 4px 4px 2px;color: rgb(255, 255, 255);display: inline-block;box-sizing: border-box;background-color: rgb(67, 187, 239);">
                      <strong title="" data-original-title=""><%= date + thinger.id %></strong>
                  </section>
                  <section powered-by="xmyeditor.com" style="padding: 5px 10px;box-sizing: border-box;">
                      <p style="white-space: normal;">
                          <span style="font-size: 14px;"><%= thinger.content %><span style="color: #43BBEF;">(<%= thinger.grade + thinger.gender %>)</span></span>
                      </p>
                      <p style="white-space: normal;">
                          <br/>
                      </p>
                      <p style="white-space: normal;">
                          <strong><span style="font-size: 14px;">报答：<%= thinger.reward %></span></strong>
                      </p>
                  </section>
              </section>
          </section>
      </section>
      <% }) %>
      <p style="white-space: normal;">
          <br/>
      </p>
      <section data-role="paragraph" class="xmyeditor.com" style="border: 0px none;box-sizing: border-box;">
          <p>
              <br/>
          </p>
      </section>
      <p style="white-space: normal;">
          <br/>
      </p>
      <p style="white-space: normal;">
          <br/>
      </p>
      <p style="white-space: normal;">
          <img class="lazy" ratio="1" src="https://mmbiz.qpic.cn/mmbiz_gif/UP5lSOgJhe3SFVy6rBia6ibIibicyQ2e0svMfPEOLm0miaUOF28HguuIqSCpCF1nv2qjM7DIoGkbX7QVnQsS4PHMrVQ/640?wx_fmt=gif" data-type="gif" width="400" style="margin-right: auto;margin-left: auto;width: 30px;display: inline-block;vertical-align: middle;"/><span style="font-size: 14px;">戳原文，进入<strong>【还愿通道】</strong>逛一逛~</span>
      </p>
  </section>
</section>